In [6]:
import pandas as pd

series = pd.Series([1, 3, 5, 6, 8])
series

data = {
    'apples': [3, 2, 0, 1],
    "oranges": [0, 3, 7, 2],
    "peaches": [2, 4, 6, 8]
}
fruits= pd.DataFrame(data)
fruits


buyer= pd.DataFrame(data, index=['Tom', 'Isabella', 'Daisy', 'Blathers'])
buyer

          apples  oranges  peaches
Tom            3        0        2
Isabella       2        3        4
Daisy          0        7        6
Blathers       1        2        8

In [8]:
buyer.loc['Tom']

apples     3
oranges    0
peaches    2
Name: Tom, dtype: int64